.btn-circle {
    height: 300px;
    width: 300px;
    background-color: darkred;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
  }
