<nb-layout-header (click)='startSearch()'>
  <nb-search type="modal-move"></nb-search>
</nb-layout-header>
<nb-layout-column>
    <nb-card accent="info">
        <nb-card-body>
          Search results will appear here.
        </nb-card-body>
      </nb-card>
    <nb-card *ngFor="let i of selectedIngredients">
      <nb-card-header>{{i.name | titlecase}}</nb-card-header>
      <nb-card-body>
        <img src="{{baseImageUrl+i.image}}" alt="{{i.image}}">
        
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
