<nb-layout>
<nb-layout-header style="cursor: pointer;" (click)='startSearch()'>
  <nb-search type="rotate-layout"></nb-search>
</nb-layout-header>
<nb-sidebar>Your list
<nb-card *ngFor="let listItem of selectedIngredients">
  <nb-card-header>
    <button nbButton style="float: right;">
         <nb-icon  icon="trash-2" status="danger" 
          (click)=remove(listItem)></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body style="text-align: center;">
    <img style="display: inline-block;" src="{{getImageOfIngredientUrl(listItem.image, size.small)}}"
           alt="{{listItem.image}}">
  </nb-card-body>
</nb-card>

</nb-sidebar>

<nb-layout-column>

        <div class="card-col">
          <nb-card accent="info">
            <nb-card-body>
              Search results will appear here.
            </nb-card-body>
          </nb-card>
          <nb-card  *ngFor="let i of resultIngredients">
            <nb-card-header>{{i.name | titlecase}}</nb-card-header>
            <nb-card-body style="text-align: center;">
              <img style="display: inline-block;" src="{{getImageOfIngredientUrl(i.image, size.medium)}}" alt="{{i.image}}">

            </nb-card-body>
            <nb-card-footer>
              <button nbButton (click)="addToList(i)"> Add to my list</button>
            </nb-card-footer>

          </nb-card>
        </div>

  </nb-layout-column>
  </nb-layout>
