// :host {
//     display: block;
//     max-height: 25rem;
//     overflow-x: hidden;
//     overflow-y: auto;
//   }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
   margin-left: 4rem;
   margin-right: 4rem;
  }