
  <nb-layout> 
     <nb-layout-header>
    Welcome Max ! This is the dashboard
    <app-menu></app-menu>
    
  </nb-layout-header>
  <nb-layout-column>
    <button nbButton (click)="showToast('bottom-left', 'warning')" class="btn-circle" outline shape="round">My Cookbook</button>
    <button nbButton (click)="redirect('inmyfridge')"   class="btn-circle" outline shape="round">In my fridge</button>
    <button nbButton (click)="showToast('bottom-left', 'warning')" class="btn-circle" outline shape="round">Suggestions</button>
  </nb-layout-column>
</nb-layout>